@{
    ViewData["Title"] = "Randevu Başarılı";
}

<h1>@ViewData["Title"]</h1>

<p>Randevunuz başarıyla oluşturulmuştur. Yakında doktorunuzla iletişime geçilecektir.</p>

<a href="@Url.Action("Index", "Home")" class="btn btn-primary">Ana Sayfaya Dön</a>
